/* COMMON */

:root {
  --title-color: #87754f;
  --text-color-info: #fdfdfd;
  --text-color-addInfo: #385f71;
}

.cv-main {
  margin: 0 auto;
  display: grid;
  border: 2px solid black;
  width: 900px;
  grid-template-areas: "info additional-info";
  grid-template-columns: 4fr 6fr;
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: 700;
  font-style: normal;
}

.info {
  grid-area: info;
  background-color: black;
  height: 1000px;
  color: var(--text-color-info);
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

ul > li > * {
  color: var(--text-color-info);
  font-weight: 400;
  font-style: normal;
}

.additional-info {
  grid-area: additional-info;
  background-color: white;
  margin-left: 20px;
  margin-top: 110px;
  color: var(--text-color-addInfo);
}

.avatar {
  width: 300px;
  height: 300px;
  margin: 10px 10px 10px 25px;
  border-style: solid;
}

.avatar > img {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}

.section {
  margin-left: 40px;
}